.contributors img{
    width:100px;
    height:100px;
    float:left;
}

.contributors ul{
    list-style-type: disc;
    text-align:left;
}

.branches ul{
    text-align:left;
    list-style-type: disc;
}